<div class="footerBack">
    <footer class="text" class="row text-center text-md-left pt-0 pt-md-1 no-gutters">
      
      <div class="col mr-auto">
        <strong style="color: #09002f;font-family: cursive;">{{'Madrasati Application, All rights reserved '}}</strong>
        <strong> | </strong>
        <strong	style="color: #09002f;font-family: cursive;">{{ today | date:'dd/MM/yyyy' }}</strong>
      </div>
    
    
      <div class="col-12 col-md-auto">
    
        <strong style="color: #09002f;font-family: cursive;margin-right: 5px;">{{appService.profileConnected ===''? 'USER':appService.profileConnected}} {{'Profile'}}</strong>
        
    
      </div>
    
    </footer>

</div>
