<div style="display: flex;flex-direction: column;">
<div class="flex-container">
    <div class="flex-item-left">
        <div style="display:flex;flex-direction: row;justify-content: center;">
            <h1 style="margin-right: 5px;color: white;font-weight: 700;">Nos jeux</h1>
            <img
                  src="assets/gamepad.png"
                  style="margin-top: -3px;cursor: pointer;"
                  height="45"
                  alt=""
                  loading="lazy"
                />
        </div>
        <div>
            <p style="color: white;">
                "Offert par nos différents services et partenariats, profitez d'une sélection de jeux web gratuits.
                 Nous avons ce qu'il vous faut avec une large gamme de catégories de jeux."
            </p>
        </div>
    </div>
    <div class="flex-item-right"><img
        src="assets/freegames.webp"
        href="#"
        style="margin-top: -3px;cursor: pointer;"
        height="90%"
        width="95%"
        alt=""
        loading="lazy"
      />
    </div>
</div>

<div style="height: calc(100vh - 418px);opacity: 0.9;" class="flex-container">
    <div style="height: calc(100vh - 418px);" class="flex-item-left">
        <div style="display:flex;flex-direction: row;justify-content: center;">
            <h1 style="margin-right: 5px;color: white;font-weight: 700;">Mes Modules</h1>
            <img
                  src="assets/homeWork.png"
                  style="margin-top: -1px;"
                  height="45"
                  alt=""
                  loading="lazy"
                />
        </div>
        <div>
            <p style="color: white;font-size: smaller;">
                Découvre un monde où tu peux apprendre à gérer tes émotions,
                 à développer ta confiance en toi, à résoudre des problèmes,
                  à devenir un leader et à collaborer avec tes amis ! 
                  Rejoins-nous dans cette aventure passionnante où tu pourras grandir et devenir la meilleure version de toi-même.
            </p>
        </div>
    </div>
    <div style="height: calc(100vh - 418px); cursor: pointer;" class="flex-item-right"><img
        src="assets/kids.jpg"
        href="#"
        style="margin-top: -3px;"
        height="90%"
        width="95%"
        alt=""
        loading="lazy"
      />
    </div>
</div>
</div>